/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- GENERALES ----- */

* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}

body {
    border: solid 12px darkslategray;
    margin: 0;
    /* padding: 100px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* ----- HEADER----- */

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .cabecera {
    width: 70%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .cabecera a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

header .cabecera a.logo {
    padding: 10px;
    border: solid 4px darkslategrey;
}

.menu-item:not(:first-child) {
    margin-left: 1.2em;
}

a.menu-item:hover {
    border-bottom: 2px solid darkslategrey; 
}

/* ----- ANIMACIÓN LOGO ----- */

header .cabecera a.logo:hover {
    animation: logot 1s;
}

@keyframes logot {
    0% {rotate: 0deg;}
    33% {rotate: -10deg;}
    66% {rotate: 10deg;}
    100% {rotate: 0deg;}
}

/* ----- CONTACTO -----*/

/* .wrapperCont{
    display:flex;
    flex-direction: column;
} */

h3.title {
    font-size: x-large;
    margin: 1em;
    text-align: center;
}

section.links h3 {
    margin-top: 1em;
}

form.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 1%;
}

form.formulario input[type="text"],
form.formulario input[type="email"],
form.formulario textarea {
      border: 2px solid #cecece;
      border-radius: 5px;
      padding: 15px 20px;
      font-size: 20px;
      color: #a4a4a4;
}

form.formulario input[type="text"],
form.formulario input[type="email"] {
      width: 49%;
      margin-bottom: 15px;
}

form.formulario textarea {
      width: 100%;
      height: 100px;
      min-width: 100%;
      margin-bottom: 15px;
      min-height: 100px;
      max-height: 300px;
}

form.formulario .botonForm {
      margin: auto;
      background: #0f0f0f;
      color: #fff;
      border: none;
      border-radius: 10px;
      padding: 15px 40px;
}
    
form.formulario .botonForm:hover {
        background: #3f3f3f;
}

/* ----- LINKS ----- */

section.links {
    display: flex;
    flex-direction: column;
}

section.links .cajaLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ----- FOOTER ----- */

footer {
    /* border-top: hsla(180, 25%, 25%, 0.205) solid 1px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 30px;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width:960px) and (min-width: 768px) {
    header .cabecera .menu {
        font-size: 2vw;
    } 
    
    form.formulario {
    margin: 1%;
    }

    section.boxContact .formulario .botonForm{
        padding: 10px 20px;
    }

    form.formulario input[type="text"],
    form.formulario input[type="email"] {
      width: 100%;
      margin-bottom: 15px;
    }
}

@media screen and (max-width:767px) and (min-width: 480px) {
    header .cabecera .menu {
        font-size: 2vw;
    }
    
    form.formulario {
        margin: 1%;
    }

    form.formulario input[type="text"],
    form.formulario input[type="email"] {
      width: 100%;
      margin-bottom: 15px;
    }
    
    section.boxContact .formulario .botonForm{
        padding: 5px 10px;
    }
}

@media screen and (max-width: 479px) {
    header .cabecera  {
        width:95%;
    }

    header .cabecera .menu {
        font-size: 3vw;
    }

    h3.title {
        margin: 0 0 1em 0;
    }
    
    form.formulario {
        margin: 1%;
    }

    form.formulario input[type="text"],
    form.formulario input[type="email"] {
      width: 100%;
      margin-bottom: 15px;
    }

    section.boxContact .formulario .botonForm{
        padding: 5px 10px;
    }

    footer {
        margin-top: 2%;
    }

    footer p {
        font-size: 3vw;
        margin-top: 5%;
    }
}