/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- GENERALES ----- */

* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}

body {
    border: solid 12px darkslategray;
    margin: 0;
    /* padding: 100px; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- WRAPPER DEL HOME ----- */

main.wrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

main.wrapper .titular {
    font-size: 50px;
    margin: 30px;
    line-height: 1.4;
}

main.wrapper .titular span {
    font-weight: lighter;
}

/* ----- ANIMACIÓN DE ENTRADA ----- */

main.wrapper .titular {
    animation-name: texto;
    animation-duration: 4s;
    animation-iteration-count: ease-in;
}

@keyframes texto {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

main.wrapper .botonEntrar {
    animation-name: botoni;
    animation-duration: 2s;
    animation-iteration-count: ease-in;
}

@keyframes botoni {
    0% {translate:0% 100%;}
    100% {translate: 0% 0%;}
}

main .botonEntrar {
    margin: 30px;
    background: #0f0f0f;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    color: #fff;
    font: "Roboto Mono";
    text-decoration: none;
}

main .botonEntrar:hover {
      background: #3f3f3f;
}


/* ----- KEYFRAMES -----  */

@media screen and (max-width: 960px) and (min-width: 768px) {
    main.wrapper {
        margin: 20px;
    }
    
    main.wrapper h1.titular {
        font-size: 5vw;
    }

    main .botonEntrar {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 769px) and (min-width: 480px) {
    main.wrapper {
        margin: 10px;
    }

    main.wrapper h1.titular {
        font-size: 5vw;
    }

    main .botonEntrar {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 479px) {
    main.wrapper {
        margin: 5px;
    }

    main.wrapper h1.titular {
        font-size: 5.2vw;
    }

    main .botonEntrar {
        padding: 5px 10px;
    }
}