/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- GENERALES ----- */

* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}

body {
    border: solid 12px darkslategray;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----- HEADER----- */

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .cabecera {
    width: 70%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .cabecera a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

header .cabecera a.logo {
    padding: 10px;
    border: solid 4px darkslategrey;
}

header .cabecera a.logo:hover {
    animation: logot 1s;
}

@keyframes logot {
    0% {rotate: 0deg;}
    33% {rotate: -10deg;}
    66% {rotate: 10deg;}
    100% {rotate: 0deg;}
}

.menu-item:not(:first-child) {
    margin-left: 1.2em;
}

a.menu-item:hover {
    border-bottom: 2px solid darkslategrey; 
}

/* ----- MAIN ----- */

main.wrapper {
    width: 80%;
}

.wrapper section {
    margin-bottom: 3%;
}


main.wrapper h3 {
    font-size: x-large;
    text-align: center;
    margin: 2em;
}


/* ----- MAIN INTRO ----- */

section.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section .presentacion {
    width: 100%;
    padding: 5%;
}

section.intro .presentacion h2 {
    font-size: 2vw;
    line-height: 1.3;
    font-weight: lighter;
    text-align: justify;
}

section.intro .presentacion h2 span {
    font-size: 3vw;
    font-weight: bold;
}

/* ----- ANIMACIONES DE ENTRADA ----- */

main.wrapper .intro .presentacion h2 {
    animation-name: aparicion;
    animation-duration: 5s;
    animation-iteration-count: ease-in;
}

@keyframes aparicion {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

main.wrapper .intro .laptop img {
    animation-name: lap;
    animation-duration: 2s;
    animation-iteration-count: ease-in;
}

@keyframes lap {
    0% {translate:50% 0%;}
    100% {translate: 0% 0%;}
}

/* ----- MAIN BIO ----- */

.wrapper .bio p {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: justify;
}

/* ----- MAIN CONTACTO ----- */

main section.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section .botonContacto {
    /* margin: 30px; */
    background: #0f0f0f;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    color: #fff;
    font: "Roboto Mono";
    text-decoration: none;
}

main section .botonContacto:hover {
      background: #3f3f3f;
}

/* ----- FOOTER ----- */

footer {
    /* border-top: hsla(180, 25%, 25%, 0.205) solid 1px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 30px;
}

/* ----- MEDIAQUERIES ----- */

@media screen and (max-width: 1200px){
    .wrapper .intro img {
        width: 40vw;
    }

    .wrapper .intro h2 {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    header .cabecera .menu {
        font-size: 2vw;
    } 
}

@media screen and (max-width:767px) and (min-width: 480px) {
    header .cabecera .menu {
        font-size: 2vw;
    } 

    .wrapper .intro {
        flex-direction: column;
    }

    .wrapper .intro .presentacion h2 {
        font-size: 1.2em;
    }

    .wrapper .intro .presentacion h2 span {
        font-size: 1.4em;
    }

    .wrapper .intro img {
        width: 50vw;
    }

}

@media screen and (max-width: 479px) {
    header .cabecera  {
        width:95%;
    }
    
    header .cabecera .menu {
        font-size: 3vw;
    }

    main.wrapper {
        width: 95%;
    }

    main.wrapper h3 {
        margin: 2em 0px;
    }

    .wrapper .intro {
        flex-direction: column;
    }

    .wrapper .intro .presentacion h2 {
        font-size: 1.2em;
        text-align: center;
    }

    .wrapper .intro .presentacion h2 span {
        font-size: 1.4em;
    }

    .wrapper .intro img {
        width: 50vw;
    }

    .wrapper .bio p {
        text-align: center;
    }

    footer {
        margin-top: 2%;
    }
    
    footer p {
        font-size: 3vw;
    }
}